.wrapper {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 2fr;
  gap: 1.3rem;
  align-items: end;

  width: 63rem;

  .containerStyle {
    width: 18.69rem;
  }

  .slider {
    width: 15.6rem;
  }

  .button {
    width: 10rem;
  }
}
