.wrapper {
  display: flex;
  flex-direction: row;

  .paginationContainer {
    display: flex;
    gap: 0.75rem;
    margin-right: 1.5rem;
    list-style-type: none;

    .paginationItem {
      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      min-width: 1.5rem;
      height: 1.5rem;
      padding: 0 0.5rem;

      font-size: 13px;
      line-height: 1.43;
      color: var(--color-light-100);
      text-align: center;
      letter-spacing: 0.0107em;

      border-radius: 2px;

      &.dots:hover {
        cursor: default;
        background-color: transparent;
      }

      &:hover {
        cursor: pointer;
      }

      &.selected {
        color: var(--color-dark-900);
        background-color: var(--color-light-100);
      }

      .arrow {
        &::before {
          /* top: 3pt; Uncomment this to lower the icons as requested in comments */
          content: '';

          position: absolute;
          transform: translate(-50%, -50%);

          /* By using an em scale, the arrows will size with the font */
          display: inline-block;

          width: 0.6em;
          height: 0.6em;

          border-top: 0.12em solid var(--color-light-100);
          border-right: 0.12em solid var(--color-light-100);
        }

        &.left {
          transform: rotate(-135deg) translate(-50%);
        }

        &.right {
          transform: rotate(45deg);
        }
      }

      &.disabled {
        pointer-events: none;

        &:hover {
          cursor: default;
          background-color: transparent;
        }

        .arrow::before {
          border-top: 0.12em solid var(--color-dark-100);
          border-right: 0.12em solid var(--color-dark-100);
        }
      }
    }
  }

  .paginationControl {
    display: flex;
    flex-direction: row;
    gap: 0.12rem;
    align-items: center;
    justify-content: center;

    color: var(--color-light-100);

    button {
      width: auto;
      height: 1.5rem;
      padding: 0 0.15rem 0 0.38rem;
    }
  }
}
