@mixin input-icon($left, $right) {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 25%;
  right: $right;
  left: $left;

  // size hidden button
  width: 1.5rem;
  height: 1.5rem;

  background-color: transparent;
}
