@mixin input-icon($left, $right) {
  position: absolute;
  top: 25%;
  right: $right;
  left: $left;
}

@mixin typography($fs, $fw, $lh) {
  margin: 0;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}
