@mixin input-icon($left, $right) {
  position: absolute;
  right: $right;
  left: $left;
}

@mixin typography($fs, $fw, $lh) {
  margin: 0;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin wrapper-btns(
  $display: flex,
  $justifyContent: space-between,
  $padding: 0.75rem 1.5rem 2.5rem
) {
  display: $display;
  justify-content: $justifyContent;
  padding: $padding;
}

@mixin wrapper-body-deck-form(
  $display: flex,
  $flexDirection: column,
  $gap: 1.5rem,
  $padding: 1.2rem 1.5rem
) {
  display: $display;
  flex-direction: $flexDirection;
  gap: $gap;
  padding: $padding;
}
