.th {
  cursor: pointer;

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:last-child {
    cursor: default;
    color: black;

    &:hover {
      background-color: var(--color-dark-500);
    }
  }
}

.sortIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding-left: 0.25rem;

  color: var(--color-light-100);
}
