.root {
  margin-bottom: 3.6rem;

  .question,
  .answer {
    width: 32rem;

    .imageBox {
      display: flex;
      gap: 1rem;
      align-items: center;

      img {
        max-width: 16rem;
        height: 100%;
        max-height: 6.2rem;
      }
    }
  }

  .updated {
    width: 20rem;
  }
}
