.root {
  margin-bottom: 3.6rem;

  .question,
  .answer {
    .imageBox {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;

      img {
        max-width: 16rem;
        height: auto;
        max-height: 6.2rem;
      }
    }
  }
}
