.wrapper {
  width: 26.25rem;
  margin: 0 auto;
  padding: 2.06rem 2.25rem 3.75rem;

  .title {
    padding-bottom: 3.19rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;

    // password
    & > *:nth-child(1) {
      margin-bottom: 1.19rem;
    }

    // instructions text
    & > *:nth-child(2) {
      margin-bottom: 2.56rem;
      color: var(--color-light-900);
      opacity: 0.5;
    }
  }
}
